li.poll-item
  a(href='/poll/#{poll.code}')
    h3
      = poll.title
      |  &rarr;
  p= poll.code
  
  ul
    each choice in poll.choices
      li
        = choice.name
        \ \(#{choice.votes}\)
