#home
	h2 Real-time SMS polling
	
	img#sampleGraph(src='/img/graph.png')
	
	p
		| Within 30 seconds, you'll have a new VoteSpry SMS poll created and
		| ready to go.
	p
		| It's that easy.

	br

	a.btn#newPoll(href='/new')
		h3 Create a poll instantly
		p No signup required
