h2 Real-time SMS polling

p
	| VoteSpry lets you put up a poll and start collecting
	| feedback instantly. No registration required.

br

a.btn#newPoll(href='/new')
	h3 Create a poll instantly
	p No signup required
