html
  head
    block head
      - if (typeof title !== 'undefined')
        title= title
      - else
        title Instant SMS polling with VoteSpry
      
      link(rel='stylesheet', href='/css/style.css')
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  body
    #container
      header
        h1
          a(href='/') VoteSpry
  
        nav
          a(href='/') Home
          a.btn#headerNew(href='/new') Create a poll

        .clear

      #content!= body

      footer
        a(href='http://wylieconlon.com') Made by Wylie
        |  &bull; 
        a(href='https://github.com/wylieconlon/votespry') View source

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3815703-6']);
      _gaq.push(['_trackPageview']);
      
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
