!!!
html
  head
    block head
      - if (typeof title !== 'undefined')
        title= title
      - else
        title Instant SMS polling with VoteSpry
      
      link(rel='stylesheet', href='/css/style.css')
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  body
    #container
      header
        h1
          a(href='/') VoteSpry
  
        nav
          a(href='/') Home
          a.btn#headerNew(href='/new') Create a poll

        .clear

      #content!= body

